# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.krak-jam-metroidvania.iml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../:\UnityProjects\krak-jam-metroidvania\.idea\.idea.krak-jam-metroidvania\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
